body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 td {
  /* vertical-align: middle !important;
  text-align: center !important; */
   height: 200px;
  width: 200px;  
  padding-left: 60px;
} 

 .update-butt {
    width: 1930px;  
}  
